<!DOCTYPE html>

<html >
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    @Styles.Render("~/Content/css")

    <link href="~/Content/General.css" rel="stylesheet" />
    @RenderSection("Estilos", required: false)
    <title>@ViewBag.Title</title>
</head>
<body class="Back">
    <div class="navbar navbar-dark navbar-inverse navbar-fixed-top">

        <div class="container">

            <div class="navbar-header">
                <a href="#">
                    <img src="~/Images/Seguro-Logo-.png" width="120" height="60" />
                </a>              
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>

                </button>


            </div>
            <div class="navbar-header">
                @Html.ActionLink("Seguros Siglos XXI", "Principal", "Principal", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav" id="menu">
                    @{
                        if (ViewBag.TipoUsuario == "Colaborador")
                        {
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Mantenimientos<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="len1" class="hoverable">@Html.ActionLink("Adicciones", "Adicciones", "Adicciones")</li>
                                    <li id="len2" class="hoverable">@Html.ActionLink("Adicciones por clientes", "AdiccionesPorClientes", "AdiccionesPorClientes")</li>
                                    <li id="len3" class="hoverable">@Html.ActionLink("Clientes", "Clientes", "Clientes")</li>
                                    <li id="len4" class="hoverable">@Html.ActionLink("Coberturas", "Coberturas", "Coberturas")</li>
                                    <li id="len5" class="hoverable">@Html.ActionLink("Registro de polizas", "RegistroPoliza", "RegistroPoliza")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-log-in"></span> Reportes<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="len7" class="hoverable">@Html.ActionLink("Adicciones por clientes", "ReporteAdiccionesPorCliente", "ReporteAdiccionesPorCliente")</li>
                                    <li id="len6" class="hoverable">@Html.ActionLink("Pólizas por cliente", "ReportePolizasPorClientes", "ReportePolizasPorClientes")</li>
                                </ul>
                            </li>
                        }
                        else if (ViewBag.TipoUsuario == "Cliente")
                        {
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span> Mantenimientos<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="len3" class="hoverable">@Html.ActionLink("Adicciones por clientes", "AdiccionesPorClientes", "AdiccionesPorClientes")</li>
                                    <li id="len3" class="hoverable">@Html.ActionLink("Clientes", "Clientes", "Clientes")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span> Reportes<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="len7" class="hoverable">@Html.ActionLink("Adicciones por clientes", "ReporteAdiccionesPorCliente", "ReporteAdiccionesPorCliente")</li>
                                    <li id="len6" class="hoverable">@Html.ActionLink("Pólizas por cliente", "ReportePolizasPorClientes", "ReportePolizasPorClientes")</li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-folder-open"></span> Mantenimientos<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="len1" class="hoverable">@Html.ActionLink("Adicciones", "Adicciones", "Adicciones")</li>
                                    <li id="len2" class="hoverable">@Html.ActionLink("Adicciones por cliente", "AdiccionesPorClientes", "AdiccionesPorClientes")</li>
                                    <li id="len3" class="hoverable">@Html.ActionLink("Clientes", "Clientes", "Clientes")</li>
                                    <li id="len4" class="hoverable">@Html.ActionLink("Coberturas", "Coberturas", "Coberturas")</li>
                                    <li id="len5" class="hoverable">@Html.ActionLink("Registro de polizas", "RegistroPoliza", "RegistroPoliza")</li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list-alt"></span> Reportes<span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li id="len7" class="hoverable">@Html.ActionLink("Adicciones por cliente", "ReporteAdiccionesPorCliente", "ReporteAdiccionesPorCliente")</li>
                                    <li id="len6" class="hoverable">@Html.ActionLink("Pólizas por cliente", "ReportePolizasPorClientes", "ReportePolizasPorClientes")</li>
                                </ul>
                            </li>
                        }

                    }
                    <li id="len8" class="hoverable" style="margin-left: 200px"><a><i class="bi bi-person-circle"></i> @ViewBag.NombreCliente</a></li>
                    <li id="len8" onclick="quitarSesion()" class="hoverable">@Html.ActionLink("Cerrar sesión", "CerrarSesion", "Login")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>
    <br />
    <br />
    <footer class="Footer-Color">
        <br />
        <p>&copy; @DateTime.Now.Year - Seguros del Siglo XXl.</p>
        <p>Francisco Alexander Avilés Castro.</p>
        <p>Gerson Abimael Avilés Castro.</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
